   /* navigation css */

        
        
   *{
    padding: 0rem;
    margin:0rem;
    /* background-color:; */

}
:root{
--primary:#00b4d8;
--textcolor: #03045e;
/* --secondary:#e8f16a; */
--hover:chartreuse;
--secondary:#caf0f8;


}
h1,h2,p{
    color:var(--textcolor);}
.navi{
    display: flex;
    background-color:var(--primary);
    border-bottom-right-radius: 55px;
    align-items: center;
    justify-content: center;
    
    padding:0rem 1rem;
    width: 80%;
    /* max-width: 800px; */
    margin: auto;
    height: 72px;
}
.logo img {
    padding: 2px;
    margin:0px;
    
    width: 75px;
    height: 75px;

      
}
img.logo1:hover{
    /* width: 80px;
    height:80px; */
    background-color: chartreuse;
    /* image-resolution: 100 100; */

}
.menu{padding: 10px;
    margin:10px;  
     /* background-color: var(--primary); */

}
.menu ul{
    display: flex;
    /* background-color: var(--primary); */
}
.menu ul li{
    padding: 5px 10px;
    list-style: none;
    /* background-color: var(--primary); */
}
.menu ul li a{
    text-decoration: none;
    color:var(--textcolor);
    font-size: 1.5rem;
    /* background-color: var(--primary); */


    
}
.menu ul li a:hover{

    color:var(--hover);
    font-size: 1.6rem;

}
    
    


/* footer css */




.f{
    background-color: var(--primary);
    border-top-right-radius: 20px;
    text-align: center;
    width: 80%;
    /* display:table-footer-group; */
    /* margin-top: 11rem; */
    bottom: 0px;
    margin-bottom: 0px;
    position: fixed;
    left: 10%;
    /* margin: auto; */

   
    
}
.f1{
    width: 50px;
    height:50px;
    padding: 10px 10px;
    margin-right: 10px;
}
.f1 img{
    width: 20px;
    height:20px;
    display: flex;
    
    

}
/* ol li css */
#blog {
   margin-left: 10%;
   padding-top: 10px;
   font-size: 3rem;
   
}
ol{
    color: var(--textcolor);
    margin: 2rem;
    padding: 10px;
    text-align: left;
    /* margin-left: 10%; */
    /* padding-top: 2px; */
}
ol li{
    font-size: 25px;
    margin: auto;
    padding: 10px;
    margin-left: 10%;

}
ol p{
    text-align: left;
    margin-left: 10%;

}

/* button css */
.btn{
   background-color:var(--secondary);
   color: var(--textcolor);
   border-radius: 10px;
   font-size: 20px;
   padding: 2px;
   margin: 5px;
    align-self: center;
    margin-left: 10%;

}
