*{
    padding: 0rem;
    margin:0rem;
    /* background-color:; */

}
:root{
--primary:#00b4d8;
--textcolor: #03045e;
/* --secondary:#e8f16a; */
--hover:chartreuse;
--secondary:#caf0f8;


}
h1,h2,p{
    color:var(--textcolor);}
.navi{
    display: flex;
    background-color:var(--primary);
    border-bottom-right-radius: 55px;
    align-items: center;
    justify-content: center;
    
    padding:0rem 1rem;
    width: 80%;
    /* max-width: 800px; */
    margin: auto;
    height: 72px;
}
.logo img {
    padding: 2px;
    margin:0px;
    
    width: 75px;
    height: 75px;

      
}
img.logo1:hover{
    /* width: 100px;
    height:100px; */
    background-color: chartreuse;
    /* image-resolution: 100 100; */
    padding-left: 2px;

}
.menu{padding: 10px;
    margin:10px;  
     /* background-color: var(--primary); */
     align-items:flex-end;
     justify-content: right;

}
.menu ul{
    display: flex;
    /* background-color: var(--primary); */
}
.menu ul li{
    padding: 5px 10px;
    list-style: none;
    /* background-color: var(--primary); */
}
.menu ul li a{
    text-decoration: none;
    color:var(--textcolor);
    font-size: 1.5rem;
    /* background-color: var(--primary); */


    
}
.menu ul li a:hover{

    color:var(--hover);
    font-size: 1.6rem;
}
    
    
.pro{
    width: 100px;
    height: 100px;
    padding: 5px 5px;


}
img.pro:hover{
    width:125px ;
    height: 125px;


}
#list1{
    align-items: center;
    justify-content: center;
    text-align: center;
}

body{
    /* background-image: url("/images/abstract-room-sun-card-blank.jpg"); */
    background-repeat: no-repeat;
    background-size: 100% 100px;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    color: grey;
    font-size: 50px;
    text-align: center;
}
img.sec2img1{
    width: 400px;
    height:200px;
    /* margin: 20px;
    padding:20px;
    align-items: center;
    justify-content: center; */
}
.sec3{
    background-color:var(--secondary);
    border-radius: 40px;
    text-align: center;
    /* max-width:800px; */
    width: 80%;
    /* height: auto; */
    /* align-self: center; */
    /* justify-content: center; */
    /* align-items: center; */
    padding:20px ;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    
}
.sec3 p {
    padding: 10px;
    font-size: 1.2rem;
    background-color: var(--secondary);
}
.sec3 h1{  background-color: var(--secondary);}
.sec4{
    padding:20px ;
    margin: 20px;
    text-align: center;
    width: 80%;
    margin: auto;
}
.sec4 p{
    padding: 10px;
    font-size: 1.2rem;}
/* .sec5{
padding:20px ;
margin: 20px;
text-align: center;
background-color:var(--secondary) ;
    border-radius: 40px;
    text-align: center;
    max-width:600px;
    height: auto;
    align-self: center;} */
.btn1{
    background-color: var(--primary);
    border-radius: 10px;
    /* text-padding:20px; */
    font-size: 1.2rem;
    padding: 2px;
    margin: 5px;
    align-self: center;
}
.btn1 a{
    text-decoration: none;
}


.tech-img{
    width: 3rem;
    height: 3rem;
    margin: 1rem;
    display: inline-flex;
}

.tech-img2{
    width: 4rem;
    height: 4rem;
    margin: 1rem;
}


.logos{
    /* display: grid; */
    /* display: inline; */
    width: 5rem;
    text-align: center;
    width: [width of img];
    display:inline-table;

    
}
.logos img{
    margin: 0 auto;
}














/* fotter css */
.f{
    background-color: var(--primary);
    border-top-right-radius: 20px;
    text-align: center;
    width: 80%;
    margin: auto;
}
.f1{
    width: 50px;
    height:50px;
    padding: 10px 10px;
    margin-right: 10px;
}
.f1 img{
    width: 20px;
    height:20px;
    display: flex;
    
    

}